# Python
*.pyc
__pycache__/
*.py[cod]
*.class

# Environment
.env

# Dependency directories
venv/
env/

# Other files
portfolio.json

# Ignore PDF files
*.pdf

# Ignore DB files
*.db

OLD/

portfolio_value.html